*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: 'PSCF';
}
@font-face{
    font-family: 'PSCF';
    src: url(../font/PingFangRegular.otf);
}
html    {
    background: #EEEEEE;
    height: 100%;
    overflow: hidden;
}
/* .step1{
    display: none;
} */
.step{
    width: 100%;
    margin-top: 0.653rem;
    display: flex;
}
.step-center{
    margin: 0 auto;
    width: 100%;
    display: flex;
    font-size: 0.37rem;
}
.step-block{
    text-align: center;
    flex: 1;

}
.circle-out{
    width: 0.98rem;
    height: 0.98rem;
    margin-top: 0.266rem;
    margin-left: 1.18rem;
    position: relative;
    border-radius: 100%;
    
}
.light-green{
    background: #C9E6BF;
}
.green{
    background: #09BB07;
}
.circle-in{
  width: 0.68rem;
  height: 0.68rem;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  line-height: 0.68rem;
  text-align: center;
  margin-left: -0.34rem;
  margin-top: -0.34rem;
 
}

.step-center ul li{
    width: 32%;
    background: #C9E6BF;
    height: 0.1rem;
    position: absolute;
}
.line-one{
    left: 2rem;
    top: 1.866rem;
}
.line-two{
    left: 5.32rem;
    top: 1.866rem;
}
.tips{
    margin-left: 0.826rem;
    font-size: 0.37rem;
    position: relative;
    margin-bottom: 0.36rem;
    margin-top:0.826rem;
}
.question{
    display: inline-block;
    width: 0.426rem;
    height: 0.426rem;
    background: rgb(177, 189, 200);
    text-align: center;
    position: relative;
    top: 0.05rem;
    color: white;
    border-radius: 100%;
}
.white-in{
    width: 100%;
    background: white;
    height: 1.22rem;
    font-size: 0.346rem;
}
form .code{
    margin-top: 0.44rem ;
    width: 5.3rem;
    padding-left: 0.8rem;
    border: none;
}
.getcode{
    width: 3.90rem;
    height: 1.22rem;
    background: #09BB07;
    border: none;
    color: white;
    font-size: 0.48rem;
    float: right;
}
.bottom{
  margin-top: 1.57rem;
  
 
}
.btn{
    margin: 0 auto;
    width: 9.2rem;
}
.btn a{
    color: #448ACA;
}
.btn button{
    width: 9.2rem;
    height: 1.17rem;
    font-size: 0.48rem;
    border: none;
    background: #09BB07;
    border-radius: 0.13rem;
    color:white;
}

.ag{
    width: 9.2rem;
    font-size: 0.293rem;
    text-align: center;
    padding-top: 0.33rem;
}
.message,.camp-box{
   width: 100%;
   height: 100%;
   position: absolute;
   background: rgba(0,0,0,0.5);
   top: 0;
   display: flex;
   justify-content: center;
   z-index: 3;
}
.isShow{
    display: none;
}
.showbox{
    width: 100%;
    height: 7.306rem;
    position: absolute;
    bottom: -100%;
    background: white;
}
.boxtop{
    width: 100%;
    height: 1.16rem;
   
}
.box-left{
    float: left;
    font-size: 0.4rem;
    margin-top: 0.386rem;
    font-weight: bold;
    margin-left: 0.986rem;
}
.box-right{
    float: right;
    font-size: 0.346rem;
    margin-top: 0.426rem;
    margin-right: 0.586rem;
}
.content{
    display: flex;
    height: 100%;
    overflow-y: scroll;
}
.content-left{
    width: 33.47%;
    height: 100%;
}
.content-left .left-item li{
    font-size: 0.373rem;
    width: 100%;
    height: 1.093rem;
    line-height: 1.093rem;
    text-align: center;
    background: #EEEEEE;
   
}
.content-right .right-item li{
    width: 100%;
    font-size: 0.373rem;
    height: 1.093rem;
    line-height: 1.093rem;
    position: relative;
    text-align: center;
  
}
.item1,.item2{
   float: left;
   width: 100%;
   

}
.isborder{
    border-right: 0.0133rem solid #DCDCDC;
}
.liactive{
    background: white!important;
}
.content-right{
    width: 66.53%;
    height: 100%;
    
}
.message-box{
    width: 8.88rem;
    height: 5.04rem;
    background: white;
    z-index: 4;
    border-radius: 0.13rem;
    margin-top: 3.38rem;
  
}
.ps{
    margin-top: 0.426rem;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 3.46rem;
}
.ps img{
    width: 0.613rem;
    height: 0.613rem;
    float: left;
    margin-right: 0.16rem;
    vertical-align: center;
}
.ps span{
    font-size: 0.53rem;
    float: left;
    line-height: 0.613rem;
}
.message-text{
    width: 6.706rem;
    height: 1.346rem;
    font-size: 0.373rem;
    margin: 0.426rem auto;
}
.know{
    margin: 0 auto;
    width: 7.173rem;
}
.know button{
    width: 7.173rem;
    height: 1.173rem;
    background: #09BB07;
    color: white;
    border: none;
    font-size: 0.48rem;
    border-radius: 0.133rem;
}
.master{
    width: 100%;
    /* height: 2.24rem; */
    background: white;
    margin-top: 0.706rem;
    font-size: 0.373rem;
    
}
.step2 label{
  
  margin-left: 0.826rem;
  margin-right: 0.426rem;
}
.step2 input{
    border: none;
    font-size: 0.346rem;
    width: 6rem;
    color: black;
}

.info1{
    width: 9.26rem;
    padding-bottom: 0.32rem;
    margin-left: 0.33rem;
    padding-top: 0.44rem;
}
.oline{
    border-bottom: 0.0266rem solid #E5E5E5;
}
.maincamp{
    width: 100%;
    height: 4.693rem;
    background: white;
    margin-top: 0.226rem;
    font-size: 0.373rem;
}
.complete{
    width: 9.2rem;
    height: 1.173rem;
    margin: 1.373rem auto;
    font-size: 0.48rem;
    
}
.complete button{
    width: 9.2rem;
    height: 1.173rem;
    background: #09BB07;
    font-size: 0.48rem;
    color: white;
    border: none;
    border-radius: 0.133rem;
}
.info1 textarea{
    width: 50%;
    vertical-align: top;
    border: none;
}
.specil input::placeholder{
    color: #434343;
}

.right-arrow::after{
    content: '';
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    float: right;
    position: relative;
    top: 0.2rem;
    right: 0.733rem;
    cursor: pointer;
    border-top: 0.0133rem solid #8E8E8E;
    border-right: 0.0133rem solid #8E8E8E;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.step2{
    display: none;
}
.icon-gou{
    /* display: inline-block; */
    width: 0.36rem;
    height: 0.36rem;
    background: #09BB07;
    border-radius: 100%;
    margin-right: 0.266rem;
    color: white;
    line-height: 0.36rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.36rem;
    display: none;
}
.showIcon{
    display: inline-block;
}